.card{
    width: 383px;
    height: 550px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-left: 100px;
    margin-top: 40px;
    overflow-wrap: break-word;
    // overflow-y: auto;
    .heading__title{
        // margin-left: 20px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.884);
        height: 50px;
        width: 340px;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 2px solid red;
        p{
            margin-left: 20px;
            width: -moz-fit-content;
            width: fit-content;
            text-align: left;
            font-size: 18px;
            margin-top: 15px;
            letter-spacing: 2px;
        }
        button{
            margin-right: 15px;
            cursor: pointer;
            font-size: 15px;
            background: whitesmoke;
            outline: none;
            border-radius: 6px;
            padding: 1.5px 8px 1.5px 8px;
            border: 2px solid transparent; /* Ensures the border size doesn't change */
            transition: border 0.5s ease-out;
            box-shadow: 0px 0px 5px .5px #FFD166;

        }
        button:hover{
            border: 2px solid #FFD166;
        }
    }
        .task__holder{
        height: 460px;
        width: auto;
        top:0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;


        button{
            cursor: pointer;
            font-size: 15px;
            float: right;
            margin-right: 10px;
            background: whitesmoke;
            outline: none;
            border: none;
            border-radius: 6px;
            padding: 1.5px 8px 1.5px 8px;
        }
        button:hover{
            box-shadow: 5px 5px 10px -6px rgba(120, 207, 226, 0.502);
            color: rgb(47, 42, 36);
        }

        }
        .task__container{
            margin: 5px 0px;
            padding: 10px 5px;
            font-size: 12px;
            border-radius: 8px;
            cursor: grab;
            p{
                padding: 0px 5px;

            }
            span.date{
                font-weight: 600;
                padding: 0px 5px;
            }
        }
    
}