.sub__header{
    width: 600px;
    display: flex;
    margin-left: 100px;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
    
    .divider{
        height: 75px;
        width: 1px;
        background-color: #000000;
        margin-left: 10px;
    }
    .work__title{
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        // line-height: 30px;
        color: #000000;
        letter-spacing: 4px;
    }
}

@media screen and (max-width:640px) {
    .sub__header{
        flex-direction: column !important;
        width: 100% !important;
        margin-left: 0px !important;
        .divider{
         display: none !important;
        }
        .work__title{
            font-weight: 500 !important;
            font-size: 16px !important;
        }
    }
}