.side__bar{
    width: 80px;
    height: 100vh;
    position: fixed;
    background-color: #212121;
    text-align: center;
    z-index: 1;
    top: 0;
    // left: 0;
    .img__holder{
        height: 80px;
        padding: 8px 0px;
        margin-top: 30px;
        cursor: pointer;
        p{
            color: #FFFFFF;
            margin-top: 5px;
            letter-spacing: 2px;
        }
        hr{
            width: 60px;
        }
       
    }
    .active {
        background-color: #CC8E51;
      }

}